/*****-------------------------------
    Layout
-------------------------------*****/

.l-header {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}

.l-container {
    padding: 0 5%;
}

.l-footer {}
