@charset "UTF-8";
/*****-------------------------------

    Foundation setting

-------------------------------*****/
/*****-------------------------------
    Eric Meyer’s “Reset CSS” 2.0
-------------------------------*****/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/*****-------------------------------
    Mediaquery initial setting
-------------------------------*****/
.pc-only {
  display: none; }
  @media screen and (min-width: 768px) {
    .pc-only {
      display: block; } }

@media screen and (min-width: 768px) {
  .sp-only {
    display: none; } }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/*****-------------------------------
    Common initial setting
-------------------------------*****/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  overflow-y: scroll; }

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  font-size: 14px; }
  @media screen and (min-width: 992px) {
    body {
      font-size: 16px; } }

main {
  display: block;
  overflow: hidden; }

a {
  text-decoration: none; }

video {
  display: block; }

input {
  display: none; }

label {
  display: block;
  cursor: pointer; }

/*****-------------------------------

    Utility setting

-------------------------------*****/
/*****-------------------------------
    Utility
-------------------------------*****/
.qa {
  font-size: 60px;
  letter-spacing: 13px !important; }

/*****-------------------------------

    Layout setting

-------------------------------*****/
/*****-------------------------------
    Layout
-------------------------------*****/
/*****-------------------------------

    Component setting

-------------------------------*****/
/*****-------------------------------

    Project common setting

-------------------------------*****/
