/*****-------------------------------
    header
-------------------------------*****/

.header-logo {
    width: 35%;
    background-color: $deepblue;
    text-align: center;
    img {
        width: 67%;
        padding: 5% 0 0;
        margin-right: 18%;
    }
}

.header-title {
    width: 65%;
    padding-left: 2%;
    background-color: $yellow;
    font-size: 55px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 5px;
}


/*****-------------------------------
    School
-------------------------------*****/

.school-header {
    display: flex;
    width: 100%;
}

.school-time {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-color: #fff;
    color: $sub_font;
    * {
        position: absolute;
        font-weight: bold;
    }
    .month {
        top: 8px;
        left: 8px;
        font-size: 32px;
    }
    .day {
        right: 8px;
        bottom: 2px;
        font-size: 50px;
    }
    .month::before {
        display: block;
        position: absolute;
        top: -3px;
        right: -3px;
        width: 3px;
        height: 80px;
        margin: auto;
        background-color: #000;
        transform: rotate(65deg);
        content: "";
    }
}

.school-time::before {
    display: block;
    position: absolute;
    left: -57%;
    width: 25px;
    height: 100px;
    background-color: $yellow;
    content: "";
}

.school-title {
    margin-bottom: 20px;
    padding-left: 24px;
    font-size: 32px;
    line-height: 1.5;
}

.school-text {
    margin: 16px 0;
    line-height: 2;
}

.school-table {
    * {
        border: solid 2px #c8c8c8;
    }
    th {
        background-color: $lightgray;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }
    td {
        padding-left: 24px;
    }
}

.school-notes {
    padding: 4px;
    margin-top: 24px;
    margin-bottom: 40px;
    background-color: $yellow;
    color: $sub_font;
    font-size: 24px;
    text-align: center;
    line-height: 2;
}

.school-image {
    display: flex;
    position: relative;
    justify-content: center;
    img {
        max-width: 120%;
    }
}
