@charset "UTF-8";

/*****-------------------------------

    Foundation setting

-------------------------------*****/

@import "foundation/reset";
@import "foundation/form-reset";
@import "foundation/mixin/color";
@import "foundation/mixin/fonts";
@import "foundation/mixin/mediaquery";
@import "foundation/mixin/mixins_extends";
@import "foundation/base";

/*****-------------------------------

    Utility setting

-------------------------------*****/

@import "object/utility/utility";

/*****-------------------------------

    Layout setting

-------------------------------*****/

@import "layout/default";

/*****-------------------------------

    Component setting

-------------------------------*****/


/*****-------------------------------

    Project common setting

-------------------------------*****/

@import "object/project/common";
@import "object/project/header";
@import "object/project/fotter";
